# Ignore build directories
**/build/
docs/md
docs/source/_generated

# Ignore python specific file and directories
**/*.egg-info/
**/__pycache__/

# Ignore binary object files
*.so

# Distribution information
**/dist/

# Ignore IDE settings
**/.vscode/*

# CMake
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
