# automatic run setup
#   $ pre-commit install
#
# manual
#   $ pre-commit run -a

# use default options for ci
ci:
  autoupdate_schedule: "weekly"
  submodules: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.4.0"
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
    exclude: '^splinepy/settings.py$'
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: "v3.11.0"
  hooks:
  - id: pyupgrade
    args: [--py36-plus]

- repo: https://github.com/PyCQA/isort
  rev: "5.12.0"
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: "23.9.1"
  hooks:
  - id: black
    args: [--line-length=79]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.290
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    types_or: [c++]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: "v0.6.13"
  hooks:
  - id: cmake-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]

- repo: https://github.com/keewis/blackdoc
  rev: v0.3.8
  hooks:
  - id: blackdoc
    args: [--line-length=75]
