name: build docs

# once docs are stable, this will be part of test also.
on:
  push:
    branches: ["docs"]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout git
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: install splinepy
        run: CC=gcc-10 CXX=g++-10 python3 setup.py develop --minimal

      - name: Install dependencies
        run:  pip install -r ./docs/requirements.txt

      - name: Sphinx config
        run: |
          sphinx-apidoc -f -t docs/source/_templates -o docs/source splinepy

      - name: Sphinx build
        run: |
          sphinx-build -b html docs/source docs/build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        #if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          #publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          force_orphan: true
