name: main

on:
  push:
    branches: ["main"]

jobs:
  macos_wheel:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
        cw_build: ["cp38-*", "cp39-*", "cp310-*", "cp311-*", "cp312-*"]
        exclude:
          - arch: arm64
            cw_build: "cp37-*"


    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: build wheels
      uses: pypa/cibuildwheel@v2.16.5
      env:
        CIBW_ARCHS: ${{ matrix.arch }}
        CIBW_BUILD: ${{ matrix.cw_build }}
        CIBW_TEST_SKIP: "*-macosx_arm64"
        SPLINEPY_GITHUB_ACTIONS_BUILD: True

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl
        retention-days: 2

  linux_wheel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64]
        cw_build: ["cp38*many*", "cp39*many*", "cp310*many*", "cp311*many*", "cp312*many*"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: build wheels
      uses: pypa/cibuildwheel@v2.16.5
      env:
        CIBW_ARCHS: ${{ matrix.arch }}
        CIBW_BUILD: ${{ matrix.cw_build }}
        SPLINEPY_GITHUB_ACTIONS_BUILD: True

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl
        retention-days: 2

  windows_wheel:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [AMD64]
        cw_build: ["cp38-*", "cp39-*", "cp310-*", "cp311-*", "cp312-*"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: build wheels
      uses: pypa/cibuildwheel@v2.16.5
      env:
        CIBW_ARCHS: ${{ matrix.arch }}
        CIBW_BUILD: ${{ matrix.cw_build }}
        CIBW_TEST_SKIP: "*-win_arm64"
        SPLINEPY_GITHUB_ACTIONS_BUILD: True

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl
        retention-days: 2

  source_dist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build sdist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v3
      with:
        path: ./dist/*
        retention-days: 2


  upload_test_pypi:
    needs: [macos_wheel, linux_wheel, windows_wheel, source_dist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
