name: Builds minimal and runs tests

on:
  push

permissions:
  contents: read

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest, macos-13, macos-14, windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up  ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: build
      if: matrix.os != 'windows-latest'
      run: |
        pip install ".[test]" -v --config-settings=cmake.args="-DSPLINEPY_MORE=OFF;-DSPLINEPY_ENABLE_WARNINGS=ON" --config-settings=cmake.build-type="Debug"

    - name: build for windows
      if: matrix.os == 'windows-latest'
      run: |
        pip install ".[test]" -v --config-settings=cmake.args="-DSPLINEPY_MORE=OFF"

    - name: test
      run: |
        pytest tests
