name: Full builds and tests

on:
  pull_request

permissions:
  contents: read

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10", "3.11"]
        os: [ubuntu-20.04, macos-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up  ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: install dependencies
      run: pip install numpy pytest
            
    - name: build splinepy linux
      if: matrix.os == 'ubuntu-20.04'
      run: CC=gcc-10 CXX=g++-10 python3 setup.py install

    - name: build splinepy macos
      if: matrix.os == 'macos-latest'
      run: python3 setup.py install
      
    - name: test
      run: pytest tests
