name: Builds minimal and runs tests

on:
  push

permissions:
  contents: read

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.9]
        os: [ubuntu-20.04, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up  ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: install dependencies
      run: pip install numpy

    - name: build splinepy linux - gcc10
      if: matrix.os == 'ubuntu-20.04'
      run: |
        CC=gcc-10 CXX=g++-10 python3 setup.py install --minimal --debug

    - name: build splinepy macos
      if: matrix.os == 'macos-latest'
      run: |
        python3 setup.py develop --minimal --debug

    - name: build splinepy windows
      if: matrix.os == 'windows-latest'
      run: |
        python3 setup.py develop --minimal

    - name: test
      run: python3 -m unittest discover tests -v
