name: Full builds and tests

on:
  pull_request

permissions:
  contents: read

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    env:
      SPLINEPY_GITHUB_ACTIONS_BUILD: True
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11", "3.12"]
        os: [ubuntu-20.04, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up  ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: build splinepy
      run: pip install -e. -v

    - name: test
      run: |
        pip install funi>=0.0.1
        cd tests && python3 -m unittest discover . -v
